<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <!-- <class name="Selenium3.Selenium3.FlipkartLogin"/>
      <class name="Selenium3.Selenium3.AppTest"/> -->
      <class name="Selenium3.Selenium3.Gecko_Driver"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
